<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Bookland: Eroare</title>
    <meta name="keywords" content="bookland, cărți digitale, ebook, bibliotecă virtuală">
    <meta name="description" content="Magazin online de cărți digitale. Oferte. Bestsellere. Cărți nou apărute.">
    <%- include("../fragmente/head.ejs"); %>
    <link rel="stylesheet" type="text/css" href="/resurse/css/erori.css">
</head>
<body>
    <!-- Header -->
    <%- include("../fragmente/header.ejs"); %>

    <!-- Main content -->
    <main>
        <section class="erori">
			<div id="err-imag">
				<img src="<%- locals.imagine %>"/>
			</div>
			<div>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
            </div>
		</section>
    </main>
    
    <!-- Footer -->
    <%- include("../fragmente/footer.ejs");  %> 
</body>
</html>
