<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Bookland | Înregistrare </title>
    <meta name="keywords" content="bookland, cărți digitale, ebook, bibliotecă virtuală">
    <meta name="description" content="Magazin online de cărți digitale. Oferte. Bestsellere. Cărți nou apărute.">
    
    <%- include("../fragmente/head") %>
    <script type="text/javascript" src="/resurse/js/inregistrare.js"></script>
</head>
<body>
    <!-- Header -->
    <%- include("../fragmente/header") %>

    <!-- Main content -->
    <main class="container">
        <h1 class="mt-3">Inregistrare utilizator</h1>
        <section class="afisaj">
            <% if (locals.err) { %>
                <div class="alert alert-danger mb-3" role="alert">
                    <%- locals.err %>
                </div>
            <% } %>

            <% if (!locals.raspuns) { %>    
                <%- include("../fragmente/formular", {action: "/inregistrare"}) %>
            <% } %>
            
            <% if (locals.raspuns) { %>
                <%- locals.raspuns + "<br/>"%>
            <% } %>
        </section>
    </main>

    <!-- Footer -->
    <%- include("../fragmente/footer") %>
</body>
</html>
